<html>
          <head>
                    <title>
                              New Note | Note Taking App
                    </title>
                    <Script>

                    </Script>
          </head>

          <body>
                  <h1> New Note </h1>
                  <hr>
                    <form method="POST" style="margin:0 auto;width:75%;text-align:left" name="form1">
                              <div>Title:<input type="text" name="title"></div>
                              <textarea rows="40" cols="200"  allign="center" name="note"></textarea>
                              <div><input type="submit"></div>
                    </form>






                    </form>
          </body>
</html>
