<html>
          <head>
                    <title>
                              Edit Node | Note Taking App
                    </title>
                    <Script>

                    </Script>
          </head>

          <body>
                  <h1> Edit Note </h1>
                  <hr>
                    <form method="POST" style="margin:0 auto;width:75%;text-align:left" name="form">
                              <div>Title:<input type="text" name="title" value="{{note['title']}}"></div>
                              <textarea rows="40" cols="200"  allign="center" name="note" value="{{note['text']}}">{{note['text']}}</textarea>
                              <div><input type="submit"></div>
                    </form>






                    </form>
          </body>
</html>
